<!DOCTYPE html>
<html>
    <head>
        <title>¿Hoy es viernes?...</title>
        <style>
         body{
             background-color: black;
             text-align: center;
             color: white;
         }

         h1{
             position: absolute;
             top: 50%;
             left: 50%;
             margin: -25px 0 0 -25px;
         }

        </style>
    </head>
    <body>
        {% if viernes %}
        <h1>Si es viernes!..</h1>
        {% else %}
        <h1>No es viernes!..</h1>
        {% endif %}
    </body>
</html>